# ── Base de datos ────────────────────────────────────────────
DB_NAME=tienda
DB_USER=proy3
DB_PASSWORD=secret
DB_PORT=5432

# ── Backend ──────────────────────────────────────────────────
BACKEND_PORT=3001

# ── Frontend ─────────────────────────────────────────────────
FRONTEND_PORT=5173

# ── Seguridad ────────────────────────────────────────────────
JWT_SECRET=clave_super_secreta
